<div class="container">
   <div class="row">
      <div class="col-md-12 ">
         <div class="titlepage text_align_center">
            <h2>Login</h2>
         </div>
      </div>
      <div class="col-md-8 offset-md-2">
         <form id="request" class="main_form" action="/api/login/" method="POST">
            <div class="row">
               <div class="col-md-12">
                  <input class="form_control" placeholder="Username" type="text" name="username">
               </div>
               <div class="col-md-12">
                  <input class="form_control" placeholder="Password" type="password" name="password">
               </div>
               <div class="col-md-12">
                  <div class="group_form">
                     <button class="send_btn">Login</button>
                  </div>
               </div>
            </div>
         </form>

         <% if (typeof error_messages != 'undefined') { %>
            <ul>
               <% error_messages.forEach(message=> { %>
                  <li>
                     <%= message %>
                  </li>
                  <% }) %>
            </ul>
            <% } %>

      </div>
   </div>
</div>