<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

    <body class="scaled" cz-shortcut-listen="true">
        <%- include('../layout/header',{page:"homepage"}) %>
        
        <div class="s-container">
            
            <%- include('../layout/news',{news:news})  %> 
            <%- include('../layout/react')  %> 

        </div>


        <%- include('../layout/footer',{page:"homepage", distributors:distributors,
            magazines:magazines,customers:customers}) %>

    </body>

    <%- include('../layout/scripts') %>

</html>