<div class="section-comments bounceIn animated">
    <div class="comments-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events">
        <div class="swiper-wrapper" id="swiper-wrapper-8c267732edad045b" aria-live="polite"
            style="transform: translate3d(0px, 0px, 0px);">

            <% customers.forEach(customer=> { %>
                <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 1360px;">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12">
                            <img style="width:200px;height: 200px;" class="img rounded-circle"
                                src="/images/<%= customer.image  %>" alt="">
                        </div>
                        <div class="col-md-9 col-12">
                            <div class="name">
                                <%= customer.full_name %>
                            </div>
                            <div class="rank">
                                <%= customer.job %>
                            </div>
                            <div class="long">
                                <%= customer.description %>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>

        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <div class="comment-slider-button-next" tabindex="0" role="button" aria-label="Next slide"
        aria-controls="swiper-wrapper-8c267732edad045b" aria-disabled="false"></div>
    <div class="comment-slider-button-prev swiper-button-disabled" tabindex="-1" role="button"
        aria-label="Previous slide" aria-controls="swiper-wrapper-8c267732edad045b" aria-disabled="true">
    </div>
</div>