<footer class="section-end">
    <div class="section-end-pad">
        <div class="s-container">


            <% if (page=="homepage" ) { %>
                    <%- include('./customers',{'customers':customers})  %> 
            <% } %>


                <div class="section-logos">
                    <div class="row gx-0">

                        <% magazines.forEach(magazine=> { %>
                            <div class="col-lg-2 col-md-4 col-6">
                                <div class="logo-item">
                                    <a target="_blank" href="<%= magazine.link %> ">
                                        <img src="/images/<%= magazine.image %> " alt="">
                                    </a>
                                </div>
                            </div>
                            <% }) %>

                    </div>
                </div>
        </div>
    </div>
    <div class="foot-end">
        <div class="row align-items-center gx-0 gy-xl-0 gy-3">
            <div class="col-xl-5 col-12 mt-4">
                <div class="foot-logo"><a href=""><img src="/images/custom/footlogo.svg" alt=""></a></div>
                <ul class="foot-list reset mt-xl-5 mt-3">
                    <li><a href="/">Ana Sayfa</a></li>
                    <li><a href="/about">Hakkımızda</a></li>
                    <li><a href="/product">Ürünlerimiz</a></li>
                    <li><a href="/pricing">Ücretler</a></li>
                    <li><a href="/academic">Bilimsel Çalışmalar</a></li>
                    <li><a href="/news/">Blog</a></li>
                    <li><a href="/contact">İletişim</a></li>
                    <!--						<li><a style="cursor: pointer" onclick="show_modal('#portalTextModal')">Portal Aydınlatma Metni</a></li>-->
                    <li><a target="_blank" href="/static/pdf/Craniocatch%20Portal%20Ayd%C4%B1nlatma%20Metni.pdf">Portal
                            Aydınlatma Metni</a></li>
                    <li><a target="_blank" href="/static/pdf/%C3%87erez%20Politikas%C4%B1.pdf">Çerez Politikası</a></li>
                    <li><a target="_blank" href="/static/pdf/Craniocatch%20-%20Privacy%20Policy.pdf">Gizlilik
                            Politikası</a></li>

                </ul>
                <div class="copyright">© Tüm hakları saklıdır. 2022</div>
            </div>
            <div class="col-xl-5 col-12">
                <div class="pe-xl-4">
                    <div class="distrubutor">
                        <div class="text-center">İş Birliklerimiz</div>
                        <div class="dist-list">

                            <% distributors.forEach(distributor=> { %>
                                <div class="item"><a target="_blank" href="<%= distributor.link %>"><img
                                            src="/images/<%= distributor.image %>" alt=""></a></div>
                                <% }) %>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-12">
                <div class="foot-ender">
                    <div class="headLine">Ayrıntılı incelemek için demo talebinde bulunmak ister misiniz?</div>
                    <a href="/demo-request" class="btn btn-primary">Demo Talebi</a>
                    <ul class="foot-socials reset">


                        <li><a target="_blank" href="https://www.instagram.com/craniocatch/"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/craniocatch"><i
                                    class="fab fa-facebook-square"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/CranioCatch"><i
                                    class="fab fa-twitter-square"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/company/craniocatch/"><i
                                    class="fab fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCbvQbeJ0pl0QmQ9Ftnj0TEg"><i
                                    class="fab fa-youtube"></i></a></li>
                        <li><a target="_blank" href="https://open.spotify.com/show/6RkcZjKcX195kWvATwxrt4"><i
                                    class="fab fa-spotify"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>