<header class="main-head page-pad">
    <div class="row gx-0 gy-lg-0 gy-3 justify-content-between align-items-center">
        <div class="col-lg-3 col-7">
            <div class="logo pe-md-5"><a href="/"><img src="/images/logo.svg" alt=""></a></div>
        </div>
        <div class="col-lg-6 col-auto">
            <div class="mobile-menu"><i class="fas fa-bars"></i></div>
            <nav class="main-menu">
                <div class="mobile-close"><i class="fas fa-times"></i></div>
                <ul class="reset">
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/about">Hakkımızda</a></li>
                    <li><a href="/product">Ürünlerimiz</a></li>
                    <li><a href="/pricing">Ücretler</a></li>
                    <li><a href="/academic">Bilimsel Çalışmalar</a></li>
                    <li><a href="/news/">Haber ve Blog</a></li>
                    <li><a href="/contact">İletişim</a></li>

                    <% if(req.user){ %>
                        
                        <li>Hoşgeldin - <%= req.user.user_name  %></li>
                        
                      <% } 
                      
                      else{ %>  
                        <li><a href="/login">Login</a></li>
                     <% } %>
                     
                     


                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-12">
            <div class="row align-items-center justify-content-lg-end justify-content-center">
                <div class="col-auto">
                    <div class="lang-selector">
                        <div class="dropper"><span id="currentLanguage">TR</span></div>
                        <div class="dropped">
                            <a href="/tr/about">TR Türkçe</a>
                            <a href="/en/about">EN English</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/demo-request" class="btn btn-primary">Demo Talebi</a>
                </div>
            </div>
        </div>
    </div>

    <% if (page == "homepage") { %>
        <%- include("video.ejs")  %>
    <% } %>
     
    <div class="demo-request"><a href="/demo-request">Demo Talebi</a></div>
    <div class="contact-us"><a href="/contact">Bize Ulaşın</a></div>
</header>