<div class="section-news fadeInUp animated">
    <div class="title">Haber ve Blog</div>
    <div class="news-slider-content">
        <div class="swiper news-slider mt-xl-5 mt-3 swiper-initialized swiper-horizontal swiper-pointer-events">
            <div class="swiper-wrapper" id="swiper-wrapper-10010bbaeb10274a5b" aria-live="polite">


                <% news.forEach(news_obj=> { %>
                    <div class="swiper-slide" role="group" aria-label="1 / 26"
                        style="width: 362.5px; margin-right: 30px;">
                        <a target="_blank" href="/news/<%= news_obj.slug  %>" class="news-item"
                            style="background-image:url('/images/<%= news_obj.image  %>');">
                            <span class="news-name"> <%= news_obj.description  %><span class="news-name_button">
                                    <span>Daha Fazlası</span></span>
                            </span>
                        </a>
                    </div>
                    <% }) %>

            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <div class="news-slider-button-prev swiper-button-disabled" tabindex="-1" role="button"
            aria-label="Previous slide" aria-controls="swiper-wrapper-10010bbaeb10274a5b" aria-disabled="true"></div>
        <div class="news-slider-button-next" tabindex="0" role="button" aria-label="Next slide"
            aria-controls="swiper-wrapper-10010bbaeb10274a5b" aria-disabled="false"></div>
    </div>
</div>