<div class="section-radyoloji" style="margin-top: 20px;margin-bottom: 20px" id="section_radyoloji">
    <div class="row align-items-center gx-md-5 gx-0 gy-md-0 gy-3">
        <div class="col-md-6 col-12">
            <img id="left_image" src="/images/<%= news.image  %> " alt="" class="img-fluid">
        </div>
        <div class="col-md-6 col-12 rad-long">
            <div class="section-radyoloji_bg rad-title p-3">
                <div class="row align-items-center">
                    <div class="col-md-2 col-4"><img src="/media/" id="icon_image" class="img-fluid" alt=""></div>
                    <div id="about_title" class="col-md-10 col-8">
                         <%= news.description  %> 
                    </div>
                </div>
            </div>
<!--                        <div class="section-radyoloji_bg mt-4 p-3"></div>-->
        </div>
    </div>
    <div class="section-radyoloji_bg mt-xl-5 mt-4 p-3">
        <div class="row gx-md-5 gx-0 gy-md-0 gy-3 align-items-center">

            <div id="about_description" class="col-md-12 col-12 rad-long">
                <%= news.content  %> 
            </div>

        </div>
    </div>
</div>