<div class="section-react fadeInDown animated">
    <div class="section-react-content">
        <div class="sr-col" style="background-image:url('/images/custom/img_8_1.jpg');"></div>
        <div class="sr-col">
            <div class="description">
                <div class="title">Geleceği CranioCatch ile yakalayın!</div>
                <div class="long">Demo talebinde bulunarak geleceğin tanı yöntemiyle tanışın.</div>
            </div>
            <div class="button">
                <a href="/demo-request" class="btn btn-white">Demo Talebi</a>
            </div>
        </div>
    </div>
</div>