<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/animations.js"></script>

