<div class="s-container head-content-container">
    <div class="head-content fadeIn animated">
        <span>Ürün Hakkında Açıklama</span>
        <video autoplay="" muted="" loop="" id="myVideo">
            <source src="/videos/video.mp4" type="video/mp4">
        </video>
    </div>
</div>