<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

    <body class="scaled" cz-shortcut-listen="true">
        <%- include('../layout/header',{page:"news-details"}) %>
        
        <div class="s-container">
            
            <%- include('../layout/news-detail',{news:news})  %>

        </div>


        <%- include('../layout/footer',{page:"news-details", distributors:distributors,
            magazines:magazines,customers:customers}) %>

    </body>

    <%- include('../layout/scripts') %>

</html>